@import "https://csscomponents.netlify.app/style.css";

.nav1 {
  position: fixed;
  top: 0;
  background-color: #3b82f6 !important;
  box-shadow: 0 7px 6px -6px #1f2937;
  margin-bottom: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 1;
}

.navRouteLink {
  text-decoration: none;
  color: white;
  position: relative;
}

.navSearchBar {
  padding: 0.5rem;
}

.appName {
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.userDiv {
  display: flex;
  align-items: center;
}

.userDiv p {
  padding: 0 0.2rem;
}
